@import url('https://fonts.googleapis.com/css?family=PT+Sans');


#showcase{
  margin:0;
  padding:0;
  background:url('https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center/cover;
  width: 100%;
  height:100vh;
  position : relative;
  overflow-y: hidden;
}

#showcase .container{
  margin-top: 25vh;
}

#showcase h1{
  font-size: 4rem;
  margin-bottom: 0;
}

#showcase h2{
  font-size:2rem;
}
body {
  font-family: 'PT Sans', sans-serif;
  background-color: #252529;
  margin: 0;
  color: #fff;
  line-height: 1.6;
}

.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

img{
  width :100%;
}

.section{
  padding : 2rem 0;
}

.section-head{
  font-size: 2.5rem;
  margin:0;
}

.section h3{
  font-size: 2rem;
}

/* 
.lead{
  font-size: 1.3rem;
} */

.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-secondary {
  background: blue;
}

.bg-light{
  background: white;
  /* var(--light-color); */
  color: #333;
}

section#entertainment{
  background: url(../img/section-bg.jpg) no-repeat bottom/cover;
  padding: 10rem 0;
}

li {
  list-style-type: none;
 
}

@media screen and (max-height: 580px) {
  #showcase p.lead {
    display: none;
  }
}



